<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net461" />
  <package id="NUnit" version="3.6.0" targetFramework="net461" />
  <package id="Virtlink.Utilib" version="1.18.0" targetFramework="net461" />
  <package id="Yargon.ATerms" version="1.1.1" targetFramework="net461" />
</packages>